body{
    text-align: center;
    align-items: center;
    height: 50%;
    margin-top: 170px;
    background-image: url(https://th.bing.com/th/id/R.9bd8ff87aeeaed6e2247bbdbc4e8e9e7?rik=MX4TW2uyNZBMRQ&riu=http%3a%2f%2f2.bp.blogspot.com%2f_sRGU_JXOz6E%2fTRHXeNVbllI%2fAAAAAAAAAC0%2fA3S0LzKV76w%2fs1600%2fwallpaper_19021%25255B1%25255D.jpg&ehk=r7bWul6QiPN5c4%2fjWHQZZOS%2f%2frkObz6cc9Aya7JJLUU%3d&risl=&pid=ImgRaw&r=0);       
   
}
.image{
    border-radius: 50%;
    width: 30%;
    height: 30%;
    padding-bottom: 50px;
    padding-top: 50px;
    
}
.card{
    background-color:  #e0eafc;
    width: 500px;
    height: 500px;
    box-shadow: 5px 5px 20px 20px ;
    margin-left: 500px;
    margin-bottom: 500px;
    border-radius: 30px;
    position: relative;
 
}
.card::before{
    content: "";
    position: absolute;
    height: 30%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    left: -0px;
   
}

h3{
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    line-height: 10px;
    margin-top: 10px;
  
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; 
}
.icons a{
    text-decoration: none;
    color: white;
    position: relative;
    bottom: 20px;
    margin-right: 20px;
    margin-top: 40px;
    position: relative;
    left: 25px; 
}
.icons ion-icon{
    color: white;
    font-size: 30px;      
}
.icons ion-icon:hover{
    color: #dc281e;
}
header{
    background-color: black;
    background-size: cover;
    margin-top: 33px;
    border-radius: 5px;
}